/*globales*/
:root{
    /* --fuenteHeading:'Lato', sans-serif; ejemplo */
    --fuenteprincipal:'Libre Franklin', sans-serif;
    --fuenteheadings: 'Libre Franklin', sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box; /* ayuda a no marcar diferencia en una box model */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  
body{
    font-size: 16px;
    margin: 0 auto;
}

h1{
    font-size: 10rem;
    margin: 0 auto;
    font-family: var(--fuenteheadings);
    animation: cambia-color 4s ease-in-out infinite;
}

@keyframes cambia-color {
    0% {
      color: mediumpurple;
    }
    25% {
      color: cornflowerblue;
    }
    50% {
      color: greenyellow;
    }
    75% {
      color: gold;
    }
    100% {
      color: silver;
    }
}
h2{
    font-family: var(--fuenteheadings)
}
a{
    text-decoration: none;
    color: white;
    font-family: var(--fuenteprincipal);
}
header  p {
    color: white;
}
p{
    font-family: var(--fuenteprincipal);
}
button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #000;
    color: #fff;
  }
.no_margin{
    margin: 0 auto;
}

.alinear_texto{
    text-align: center;
}

.font_bold{
    font-weight: bold;
}

/* ----------------------------fin globales-------------------------------------------*/

/*-----------------------------header-------------------------------------------------*/
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
.navegacion_nav{
    display: flex;

}
.cotizar__button{
    background-color: cornflowerblue;
}
.imagen_BMW{
    margin: 0 auto ;
    width: 5rem;
    height: 5rem;
}

.iconos__nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.imagenes__nav{
    width: 5rem;
    height: 5rem;    
}
.contenido_hero{
    margin-left: 5rem;
    margin-right: 5rem;
}
/*--------------------------------------------Fin Header--------------------------------*/

/*-------------------------------------------contenido del body--------------------------*/
.letra_secundaria{
    font-size: 1rem;
    padding-top: 3rem;
}
.letra_primaria{
    font-size: 5rem;
    padding-bottom: 5rem;
}
.grid__section{
    display: grid;
    grid-template-columns:30% 30% 30%;
    gap: 5rem;
}

.alineado{
    display: flex;  
    justify-content: space-around;
}

  
.fondo__section{
    background-image: url(../Imagenes/Woman_taking_coffe.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative
}

.fondo__section2{
    background-image: url(../Imagenes/carro_carretera.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative
}
.section__carrosbmw{
    display: grid;
    grid-template-columns:40% 60%;
}
.imagen_carrosbmw{
    height: 30rem;
    width: 30rem;
}
/*fin body*/
footer{
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
}
